################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/build/x64-Debug
.vs/CMake Overview
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/RT_in_one_weekend/project-colors.json
.vs/RT_in_one_weekend/v17/.suo
.vs/RT_in_one_weekend/v17/Browse.VC.db
.vscode/image.ppm
.vscode/launch.json
